.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  min-height: 230px;
}

.container {
  padding: 25px 16px;
}

fa-icon {
  color: #673ab7;
  margin: 5px;
}

.address {
  word-break: break-all;
}
.mat-form-field {
  width: 25%;
  margin-right: 20px;
}

/* Media Query */
@media screen and (max-width: 992px) {
  .col-3 {
    width: 100%;
  }
  .mat-form-field,
  .mat-raised-button {
    width: 100%;
  }
  .mat-raised-button {
    margin-bottom: 20px !important;
  }
}